@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-primary {
    @apply py-2 px-4 text-slate-900 rounded
  }
  .btn-primary {
    @apply py-2 px-4 bg-indigo-500 text-white font-semibold rounded shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75 disabled:bg-slate-500 disabled:text-slate-300;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


p {
  color: #1a1a1a;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  color: #000;
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  width: 8rem;
  aspect-ratio: 11 / 16;
  padding: .5rem;
  border-radius: 4px;
}

.card:hover {
  cursor: pointer;
}

.black {
  background-color: #1a1a1a;
  color: white;
}

.white {
  background-color: white;
  color: black
}

input:focus, select:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
